@mixin margin-right($num) {
    margin-right: $num;
}

@mixin margin-bottom($num) {
    margin-bottom: $num;
}

@mixin paddingCorner() {
    padding-top: 4%;
    padding-left: 5%;
}

@mixin highlightedText($title: false) {
    font-size: 19px;
    @if ($title) {
        text-align: center;
        text-transform: uppercase;
        font-weight: bolder;
    }
    @else {
        padding-left: 5%;
    }
}

@mixin iframeWidth() {
    width: 460px;
    height: 310px;
}