* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 1300px;
}

//////////////////DANI
.film-wrapper {
    margin: 20px 20px;
    border: 1px solid black;
}

.film-container {
    display: flex;
    flex-direction: row;
}

.film-picture {
    height: 250px;
    width: 250px;
    padding-left: 25px;
    padding-top: 25px;
}

.film-sinopsis {
    width: 25%;
}

///////////////////////////////